


body{
	background-image: url(HotGvrX.jpg);
}

h1 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

p{
	color: white;
}